<div class="homePage">
    <div class="row" style="background: rgb(83, 157, 194)">
        <div class="col-2">
            <h1>Home</h1>
        </div>
        <div class="col-3">
            <a mat-stroked-button class="navBtn mt-lg-2" routerLink="/bio">
                Bio
            </a>
        </div>
        <div class="col-7"></div>
    </div>
    <div class="row">
        <div class="col-12 fs-1">Created by Noah Fox</div>
        <div class="col-12 fs-5">Used to review Angular subjects and skills</div>
        <div class="col-12">
            <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a mat-stroked-button class="navBtn">Color</a>
        </div>
    </div>
</div>